<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="title">
        <a target="_blank" href="#">{{recipedetail.title}}</a>
      </div>
      <div class="desc">{{recipedetail.description}}</div>
      <div class="btn-group" appDropdown>
        <button class="btn btn-primary dropdown-toggle">مدیریت دستور غدا <span class="caret"></span></button>
          <ul class="dropdown-menu">
              <li><a href="#" (click)="addToShoppingList()">افزودن به لیست مواد غذایی</a></li>
              <li><a href="#">ویرایش دستور غذا</a></li>
              <li><a href="#">حذف دستور غذا</a></li>
          </ul>
      </div>
      <h3>مواد غذایی</h3>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let ingredient of recipedetail.ingredients">
          {{ingredient.name}} {{ingredient.amount}}
        </li>
      </ul>
    </div>
    <div class="col-md-4">
      <img class="img-responsive" src="{{recipedetail.backimage}}" alt="">
    </div>
  </div>
</div>