<div class="col-lg-3 col-sm-6" >
    <div class="card hovercard" >
        <div class="cardheader">
            <img src="{{recipe.backimage}}" alt="">
        </div>
        <div class="avatar">
            <img alt="" src="{{recipe.avatar}}">
        </div>
        <div class="info">
            <div class="title">
                <a target="_blank" (click) = "onSelectedRecipe()">{{recipe.title}}</a>
            </div>  
            <div class="desc">{{recipe.description}}</div>
        </div>
    </div>
</div>